


:root{

     --azul: #6EB3D0;
    --verde:#B6D7A8;
    --rosa: #F7B6D2;
    --laranja:#F4A623;
    --preto:#000000;
    --branco:#FFFFFF;
}


#cabecalho{

    background-color: var(--azul) ;
    display: flex;
    margin-bottom: 5px;
}
#cabecalho a{
    text-decoration: none;
    color: var(--preto);

}

.container-fluid{

    padding: 0%;
}

#seuPet{

    text-align: center;
    width: 100%;
    color: var(--azul);
    font-size: 20%;
    display: flex;
}
#seuPet h1{

    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 20px;
    font-size: 20px;
}

#imgBanner2{

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
 
   
}

.imagesBanner2 img{

    width: 100%;
    height: 200px;
     
}

#loren{

    width: 100%;
}
#loren,p{

   text-align: center;
   color: var(--azul);
   margin: 20px;
   padding: 10px 100px 50px 100px;
}

.card p{

    padding: 0%;
   
}
#catalogoProdutos{

    color: var(--laranja);
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 0px 0px 50px 0px;

}

.card h5{

    text-align: center;
    color: var(--laranja);

}

#cardValor {

    text-align: center;
    color: var(--verde);
    padding: 20px;
    font-size: 100%;
} 


.card-body a {

    background-color: var(--rosa);
    
 

}
.card-body{


    width: 100%;
    margin: auto;
    
}
#adtPetTitle{

    color: var(--rosa);
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 50px 0px 20px 0px;

}

 #butaoVerMais{

    width: 50%;
    flex-direction: column;
    text-align: center;
    margin: 0px solid var(--rosa);
} 

#adtPetSec{

    width: 100%;
    height: 510px;   
    display: flex;
    align-items: center;
    padding: 5px;
    color: var(--azul);
    margin-bottom: 20px;
}
#adtPet{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   
    justify-items: center;
    
}

#adtPet h2{

    text-align: center;
  
    padding-bottom: 10px;
}

#btnFormAdptPet{

    width: 50%;
}
#buttonAdpt{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#btnFormAdptPet{
    width: 25%;
}
#termosAceite {
    align-items: start;
}

footer{

    width: 100%;
    height: 100px;
    background-color: var(--azul); 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
footer p{

    color: var(--preto);
 
}
