*{
    margin: 0%;
    padding: 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{

    --cor1:#302727;
    --cor2:#ba2d2d;
    --cor3:#f2511b;
    --cor4:#f2861b;
    --cor5:#c7c730;
    --cor6:rgb(255, 255, 255);
}
header,footer {

    width: 100%;
    height: 80px;
    background-color: var(--cor2);
    display: flex;
    justify-content: center;
 
}

#menus{
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: space-between;
    
}

#childMenu {
    display: flex;
    align-items: center;
    
    
} 

#childMenu img{
   gap: 10px;
   padding: 0 20px 0 0 ;
   
    
} 

header nav{ 

    display: flex;
    list-style: none;
    gap: 30px;
    color: var(--cor6);
    transition: 2s;
}

    
header a{
    
    text-decoration: none;
    color: var(--cor6);
    transition: 1s;
}

header a:hover{

    transition: 1s;
    background-color: var(--cor6);
    color: var(--cor2);
    font-size: larger;
    width: 30px;
    height: 30px;
}

#buttonMenu a{

    border: 1px solid var(--cor6);
    padding: 20px;
    border-radius: 5px;

}

#banner{

    width: 100%;
    height: 800px;
    background-image: url(/img/banner.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;  
}

#banner img{

   height: auto; 
   background-size: 50%;
}

#banner {

   
    display: flex;
    justify-content: start;
    align-items: center;
   
   
}
 #banner div{

    width: 50%;
    height: 100hv;
    padding: 100px 20px 100px 20px;
    background-color: var(--cor4);
    opacity: 50%;
    transition: 1s; 
 }
#banner div:hover{

    transition: 1s;

}
 
#banner button{

    padding: 10px;
    background-color: var(--cor1);
    border: 4px solid var(--cor5);
    border-radius: 5px;
    margin-top: 25px;
}

#banner button:hover{

    background-color: var(--cor4);
    opacity: 50%;
    color: var(--cor1);
    transition: 0.5s;

}

 #banner div a{

    list-style: none;
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor6);
    text-decoration-color: black;
}
#banner div a:hover{

    background-color: var(--cor6);
    color: var(--cor1);
    transition: 0.5s;

    
}

#titleWayPay{

    margin: 20px;
    text-align: center;

}

#wayPay{

    width: 100%;
    

   height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30PX;
    
}

#wayPay div{

    width: 100px;
    height:auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    transition: 2s;
}

#wayPay div:hover{

    background-color: var(--cor4);
    transition: 1s;
    width: 150px;
    height: auto;
    border-radius: 10px;
}

#description{

    display: flex;
    align-items: center;
    justify-items: center;   
    width: 100%;
    height: auto;
    background-color: var(--cor1);
    gap: 60px;
  

}


#descriptionImg img{

  
    width: 100%; 
    height: 400px;
    margin: auto;
    padding: 20px;   
   

}

.descriptionChild {

    
    width: 100%;
    margin-left: 30px;
    color: var(--cor6);
    text-align: justify;
    font-size: 18px;
   
}

#beOurCostumer{

    text-align: center;
    padding: 50px;
}

#pictures{

    display: flex; 
    align-items: center; 
    justify-content:center;
   
    width: 100%;
    height: auto;   
    gap: 60px;
}

.rowPictures img{

    display: flex;  
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#tableAgenda{
     
    width: 100%;
    height:auto;
  
    margin-top: 25px;
    display: flex;
    justify-content: center;


}

#tableAgenda div{

    background-color: #f2f2f2;
    width: 60%;
    box-shadow: 10PX 10PX 10PX;
    gap: 10PX;
}
#tableAgenda h1{

    text-align: center;
    margin-bottom: 25px;
}

table {
    width: 90%;
    height: 100px;
    border-collapse: collapse;
    margin: 30px auto;
}
th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
th {
    background-color:var(--cor2);
    color: var(--cor6);
}

#quinaTable{

    border: none;
    color: none;
    background-color: transparent;
}
footer{

    margin-top: 25px;
    height: 25px;
    align-items: center;
    color: var(--cor6);
    font-size: 10px;
}





