*{
    margin: 0%;
    padding: 0%;
}

:root{

    --cor1:#302727;
    --cor2:#ba2d2d;
    --cor3:#f2511b;
    --cor4:#f2861b;
    --cor5:#c7c730;
}
header{

    width: 100%;
    height: 30px;
    background-color: var(--cor2);
}
