*{
    margin:0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{

    --cinza:#2A2B2A;
    --rosa:#F5124B;
    --braco:#ffffff;
}

header, footer{

    width: 100%;
    height: 50px;
    background-color: var(--cinza);
    display: flex;

}

#header1{

    padding:20px 20px 20px 20px ;
    color: var(--braco);
    font-size: 20px;
}

.navegadores{

    display: flex;
    margin: 20px auto;
    gap: 20px;
}
  
.navegadores a{
  
    text-decoration: none;
    color: var(--braco);
} 

main{

     display: flex;
    justify-content: center;
  
   
}

section{

    width: 60%;
    height: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; 
    
  
}
hr{
    border: none;
    border:var(--rosa) 3px solid;
    width: 80%;
    margin: 0px auto;
    display: block;

    
}
#boxImg, #boxItens{

    width: 70%;
    height: auto;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;


}
#img{

    margin: 50px auto;
    width: 70%;
    height: 700px;
    border:1px solid black; 
    background-image: url(/img/elizabethMenor.png);
    background-size: cover;
    background-position: center;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: centerß;
}
#img p{
    padding:0px 20px;
    margin-bottom: 20px;
}
#butao a{

    background-color: var(--rosa);
    border-radius: 5px;
    padding: 1em;
    color: var(--braco); 
    display: flex;
    text-decoration: none;
    margin: 50px auto; 
    margin-bottom: 20px; 
    font-size: 20px;
    width: 100px;
    height: 10px; 
    margin: 1px solid black;  
}

#descricao {

    margin: 1px auto;
}
#descricao{

   width: 75%;
   padding: 2em;
   text-align: center;
  
}
.boxArte{

    width: 100%;
    height: 300px;
    display: flex;
    justify-content:space-around;
    gap: 5px;
}

#boxArte h1{
    text-align: center;
    width: 100%;
    height: 20px;
    margin: 50px 50px 50px 50px;
}

#boxArte1{

    width: 30%;
    height: 180px;
    background-image: url(/img/arte1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;

}
#boxArte2{
    width: 30%;
    height: 180px;
   
    background-image: url(/img/arte2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    
}
#boxArte3{

    width: 30%;
    height: 180px;
    background-image: url(/img/arte3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    
}
 
footer{
   
 justify-content:center;
 color: var(--braco);
 padding-top: 20px;
}



