*{
    margin: 0%;
    padding: 0%;
   
}
:root{

    --cor1:rgb(204, 76, 44);
    --cor2:rgb(113, 199, 187);
    --cor3:rgb(75, 196, 180);
    --cor4:rgb(34, 194, 172);
}

@keyframes teste { /*utilizado por etapas*/

    0%{ 
        background-color: var(--cor1);
    };
    50%{
        background-color: var(--cor2);

    };

    100%{
        background-color: var(--cor3);
        padding: 10px;
    };
    
}

#animado{

    width: 100px;
    height: 100px;
    background-color: var(--cor4);
    
}

#animado:hover{

    animation-name: teste;
    animation-duration:3s;
    animation-iteration-count: infinite;
    
}

@font-face{
    font-family: Ewert ;
    src: url(/fonts/Ewert-Regular.ttf);
}

@font-face {
    font-family: Dear Mother;
    src: url(/fonts/Dear\ Mother.otf);
}

@font-face {
    font-family:PlaywriteCU;
    src: url(/fonts/Playwrite_CU/PlaywriteCU-VariableFont_wght.ttf);
}

body{
    color: black;
   
}
h1{

    font-family:Dear Mother;
}

P{
    font-family: Mingzat;
}