*{
    margin: 0%;
    padding: 0%;
}

:root{

    --corBanner:rgba(24, 204, 236, 0.785);
}
/* Area de banner */
#banner{

    width: 100%;
    height: 500px;
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bannerChild01{

    text-decoration: none;
    color: white;
    background-color:var(--corBanner);
    height: auto;
    padding: 15px;    
}

#banner > #bannerChild2{
    
}

/* Fim área de Banner */

#mainSection{

    width: 100%;
    height: auto;
    background-color: violet;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#mainSectionText {

    width: 100%;
    background-color: aquamarine;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px
}
#mainSectionCards{

    background-color: burlywood;
    width: 50%;
    height:auto;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.mainSectionCardsImg{

    width:50%;
    height: auto;
    background-color: rgb(113, 88, 52);
    margin: 5px solid black;
}
.mainSectionCardsImg img{

    width: 100%;
    height: auto;
}

.mainSectionCardsImg > h1{

    width: 100%;
    height: auto;
    text-align: center;
    font-size: 10px;

}
.mainSectionCardsImg > p{

    width: 100%;
    height: auto;
    text-align: center;
    font-size: 10px;  

}
.livroDescricao{

    overflow-y: scroll;
    height: 200px;
}




